header {
 height: 50px;
 width: 100%;
}

nav {
 display: block;
}

nav ul {
 float: left;
 margin: auto;
}

li {
 float: left;
 padding: 5px;
}

ul li {
 list-style: none;
}

.main {
 min-height: 100%;
 width: 100%;
}

footer {
 height: 75px;
 width: 100%;
 position: absolute;
 bottom: 0;
}